$c-brand-50: #475DE5;
$c-gray-10: #F7FAFC;
$c-gray-20: #EDF2F7;
$c-gray-30: #E2E8F0;
$c-gray-40: #CBD5E0;
$c-gray-50: #A0AEC0;
$c-gray-60: #718096;
$c-gray-70: #4A5568;
$c-gray-90: #1A202C;
$c-pink-20: #FEDDE6;
$c-pink-80: #922B6C;
$c-purple-20: #EFE2FE;
$c-purple-80: #574195;
$c-blue-20: #C8E7F9;
$c-blue-80: #2C5282;
$c-orange-20: #FEEBC8;
$c-orange-80: #91472C;